<main>
    <div class="row">
<h1 class="text-center  text-danger ">Libro filtrado {{nombre}} </h1>

 {{#if hasLibroF2}}
{{#each  libroF2 as |lib|}}

<div class="col-md-4 mt-4">

   <div class="card  bg-dark text-light">
    <img src="{{lib.imagen}}" style="width: 100%; height:300px; object-fit:contain;"  class="card-img-top" alt="{{lib.nombre}}">
    <div class="card-body">
        <h5 class="card-text text-info">Libro: {{lib.nombre}}</h5>
        <p class="card-text">Fecha de estreno: {{lib.relase_date}}</p>
        <p class="card-text">Editorial: {{lib.editorial.dataValues.nombre}}</p>
          <p class="card-text">Categoria: {{lib.category.dataValues.nombre}}</p>
            <p class="card-text">Autor: {{lib.autor.dataValues.nombre}}</p>
            
    </div>


</div>

</div>

{{/each}}

{{else}}

<h4 class="  text-center">No se encontro libros con el tiitulo de: {{nombre}}</h4>


{{/if}}

</div>

</main>